<section id="banner">
  <div class="inner">
    <header>
      <h1>Hello, I am Zichen</h1>
    </header>
    <div class="content">
      <p>Do the best until you know better. Then when you know better, do better. &#8212 Maya Angelou</p>
      <p></p>
    </div>
    <ul class="icons">
      <li class="icon"><a class="fa fa-instagram" aria-hidden="true"></a></li>
      <li class="icon"><a class="fa fa-linkedin-square" aria-hidden="true"></a></li>
      <li class="icon"><a class="fa fa-github" aria-hidden="true"></a></li>
      <li class="icon"><a class="fa fa-twitter" aria-hidden="true"></a></li>
    </ul>
  </div>

</section>

<main>
  <section class="tiles">
    <% @projects.each do |project| %>
      <article class="">
        <span class="image"></span>
        <header>
          <h3><%=project.name%></h3>
          <p><%=project.intro%></p>
        </header>
        <p><%= link_to "", project %></p>
      </article>
    <% end %>
  </section>

  <section id="about-me">
    <div class="inner">
      <header>
        <h2>About me</h2>
      </header>
      <div class="content">
        <p>I just graduated from NUI just graduated from NUI just graduated from NUI just graduated from NUI just graduated from NUI just graduated from NUI </p>
        <div class="link">
          <a href="#">see my resume <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>

    </div>
  </section>

  <section class="contact">

  </section>
  <footer>
  </footer>

</main>
