<section id="banner">
  <div class="inner">
    <header>
      <h1>Hello, I am Zichen</h1>
    </header>
    <div class="content">
      <p>Do the best until you know better. Then when you know better, do better. &#8212 Maya Angelou</p>
      <p></p>
    </div>
    <ul class="icons">
      <li class="icon"><a class="fa fa-instagram" aria-hidden="true" href="https://www.instagram.com/ohirishere/"></a></li>
      <li class="icon"><a class="fa fa-linkedin-square" aria-hidden="true" href="https://www.linkedin.com/in/zichen-wang"></a></li>
      <li class="icon"><a class="fa fa-github" aria-hidden="true" href="https://github.com/zichenwang"></a></li>
      <li class="icon"><a class="fa fa-twitter" aria-hidden="true" href="https://twitter.com/OhIrisHere"></a></li>
    </ul>
  </div>

</section>

<main>
  <section class="tiles">
    <% @projects.each do |project| %>
      <article class="">
        <span class="image"></span>
        <header>
          <h3><%=project.name%></h3>
          <p><%=project.intro%></p>
        </header>
        <p><%= link_to "", project %></p>
      </article>
    <% end %>
  </section>

  <section id="about-me">
    <div class="inner">
      <header>
        <h2>About me</h2>
      </header>
      <div class="wrapper">
        <div class="content">
          <p>Hi, I'm Zichen. I just graduated from Northwestern University with my master's degree in Electrical Engineer and Computer Science.</p>
          <p>My passion lies in building applications that have real impact on changing and improving the quality of life.</p>

          <p>I believe doing the best I can and learning more from doing. Now, I'm looking for a position at a company where I can grow and take on interesting projects.</p>
        </div>
        <div class="link">
          <!-- <img src="me.jpg" alt="me"> -->
          <a href="/resume/index.html">see my resume <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>


    </div>
  </section>

  <section class="contact">

  </section>
  <footer>
    <p>zichenwang530@gmail.com    |    (847)868-4389    |    Chicago, IL</p>
  </footer>

</main>
