<section id="banner">
  <div class="inner">
    <header>
      <h1>Hello, I am Zichen</h1>
    </header>
    <div class="content">
      <p>Do the best until you know better. Then when you know better, do better. &#8212 Maya Angelou</p>
      <p></p>
    </div>
    <ul class="icons">
      <li class="icon"><a class="fa fa-instagram" aria-hidden="true" href="https://www.instagram.com/ohirishere/"></a></li>
      <li class="icon"><a class="fa fa-linkedin-square" aria-hidden="true" href="https://www.linkedin.com/in/zichen-wang"></a></li>
      <li class="icon"><a class="fa fa-github" aria-hidden="true" href="https://github.com/zichenwang"></a></li>
      <li class="icon"><a class="fa fa-twitter" aria-hidden="true" href="https://twitter.com/OhIrisHere"></a></li>
    </ul>
  </div>

</section>

<main>
  <section class="tiles">
    <% @projects.each do |project| %>
      <article class="">
        <span class="image"></span>
        <header>
          <h3><%=project.name%></h3>
          <p><%=project.intro%></p>
        </header>
        <p><%= link_to "", project %></p>
      </article>
    <% end %>
  </section>

  <section id="about-me">
    <div class="inner">
      <header>
        <h2>About me</h2>
      </header>
      <div class="wrapper">
        <div class="content">
          <p>I would like to share one of my favorite movie monologues first before I start telling about myself.</p>
          <p class="movie-script">"Crazy, I know, but my parents and I never fight.
            It feels like I exist to make them happy. I do what they want me to.
            They want me to get good grade so I spend all my time inside a library. They have no idea how I feel. They don't know me at all.
          Neither do I, really. I know it sounds cheesy, but I feel like I still don't know who the real me is. And I won't 'til I'm on my own.
        So now I'm studying not just for my parents but for myself as well. I'm going to get a scholarship and move out. Away from them.
        After that, whatever I do, it will be on my own terms. I will live on my own life. Mine. Not the one someone else wants me to live." &#8212 &#171 The Boy and The Beast&#187 </p>
          <p>This was exactly how I felt before I came to the U.S., execpt one thing that my parents and I did fight quite often. Now, though I am totally on my own, I'm still keeping finding who I am and what I am going to be.
          I guess this is because it's not a easy one to figure out.</p>

          <p>Fortunately, I find a career that I believe is right for me.
            My friends always say to me that I have a good and unique taste of fashion.
            When it comes to work, I make a good use of my taste on designing and developing well crafted user interfaces with pleasing and intuitive user experiences.</p>

          <p>I am optimistic but remain realistic.
            I dream big but I know I need to take small steps towards it.
            I might not be the smartest, but I am the one who is constantly studying and eager to learn more.</p>
        </div>
        <div class="link">
          <a href="/resume/index.html">see my resume <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>


    </div>
  </section>

  <section class="contact">

  </section>
  <footer>
  </footer>

</main>
