/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@mixin size($height: 100%, $width: 100%) {
    height: $height;
    width: $width;
}

@mixin venPre($prop, $value) {
    #{$prop}: #{$value};
    -webkit-#{$prop}: #{$value};
    -moz-#{$prop}: #{$value};
    -ms-#{$prop}: #{$value};
}

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    @include size();
    font-size: 100%;
}

body {
  @include size();
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 100%;
  margin: 0;
	padding: 0;
	border: 0;
  line-height: 1;
  background: #242943;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
	font-weight: 600;
	line-height: 1.65;
  margin: 0 0 1em 0;
}

p {
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.35rem;
}

h4 {
	font-size: 1.1rem;
}

h5 {
	font-size: 0.9rem;
}

h6 {
	font-size: 0.7rem;
}

a {
  @include venPre($prop: "transition", $value: "color 0.3s ease-in-out, border-bottom-color 0.3s ease-in-out");
	text-decoration: none;
  color: white;
}

a:hover {
  border-bottom-color: transparent;
	color: #9bf1ff !important;
  text-decoration: none;
}

a:active {
	color: #53e3fb !important;
  text-decoration: none;
}

ul {
  list-style: none;
  li {
    display: inline-block;
    padding-left: 1rem;
  }
}

hr {
  border: 0;
	border-bottom: solid 1px rgba(212, 212, 255, 0.1);
	margin: 2em 0;
}

.nav {
  @include size($height: 3rem, $width: 100%);
  position: fixed;
  background-color: #242943;
  z-index: 1000;
}

footer {
  text-align: center;

  p::before {
    @include size($width: 100%, $height: 2px);
    content: '';
    background-color: white;
    display: block;
    margin: 0.325em 0 0.5em 0;
  }
}
