// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin size($height: 100%, $width: 100%) {
    height: $height;
    width: $width;
}

@mixin venPre($prop, $value) {
    #{$prop}: #{$value};
    -webkit-#{$prop}: #{$value};
    -moz-#{$prop}: #{$value};
    -ms-#{$prop}: #{$value};
}

header :first-child::after {
  @include size($height: 2px, $width: 100%);
  content: '';
  background-color: white;
  display: block;
  margin: 0.325em 0 0.5em 0;
}

#banner {
  @include size($height: 30rem, $width: 100%);
  background-image: url("banner.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 10rem;

  .inner {
    @include size($height: 100%, $width: 80%);
    margin: auto;
  }

  ul {
    float: right;
    display: inline-block;
    margin-right: 5rem;
  }

  p {
    display: inline-block;
    width: 60%;
    font-style: italic;
    text-align: right;
  }

  .fa {
    font-size: 1.5rem;
    color: white;
  }
}

.tiles {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  @include venPre($prop: "flex-wrap", $value: "wrap");

  article {
    @include size($height: 20rem, $width: 40%);
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    @include venPre($prop: "align-items", $value: "center");
    padding: 4rem 4rem 2rem 4rem;
    cursor: default;
    opacity: 0.85;

    header {
      position: relative;
      z-index: 3;
    }
  }

  
}

.tiles article:nth-child(4n - 1),
.tiles article:nth-child(4n - 2) {
  width: 60%;
}

.tiles article:nth-child(6n - 5){
  background-color: #6fc3df;
}

.tiles article:nth-child(6n - 4){
  background-color: #8d82c4;
}

.tiles article:nth-child(6n - 3){
  background-color: #ec8d81;
}

.tiles article:nth-child(6n - 2){
  background-color: #e7b788;
}

.tiles article:nth-child(6n - 1){
  background-color: #8ea9e8;
}

.tiles article:nth-child(6n){
  background-color: #87c5a4;
}
