// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin size($height: 100%, $width: 100%) {
    height: $height;
    width: $width;
}

@mixin venPre($prop, $value) {
    #{$prop}: #{$value};
    -webkit-#{$prop}: #{$value};
    -moz-#{$prop}: #{$value};
    -ms-#{$prop}: #{$value};
}

header :first-child::after {
  @include size($height: 2px, $width: 100%);
  content: '';
  background-color: white;
  display: block;
  margin: 0.325em 0 0.5em 0;
}

.inner {
  @include size($height: 100%, $width: 80%);
  margin: auto;
}

#banner {
  @include size($height: 30rem, $width: 100%);
  background-image: url("banner.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 10rem;

  .content {
    @include size($width: 60%);
    display: inline-block;

    p {
      font-style: italic;
    }

    p:nth-child(2) {
      text-align: right;
    }
  }

  ul {
    float: right;
    display: inline-block;
    margin-right: 5rem;
  }

  .fa {
    font-size: 1.5rem;
    color: white;
  }
}

.tiles + * {
    border-top: 0 !important;
}

.tiles {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  @include venPre($prop: "flex-wrap", $value: "wrap");

  article {
    @include size($height: 23rem, $width: 40%);
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    @include venPre($prop: "align-items", $value: "center");
    padding: 4rem 4rem 2rem 4rem;
    max-height: 40rem;
    min-height: 23rem;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    header {
      position: relative;
      z-index: 3;
    }

    a {
      @include size();
      position: absolute;
      top: 0;
      left: 0;
      border: 0;
      z-index: 4;
    }
  }

  article::before {
    content: '';
    @include size();
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.85;
    z-index: 2;
  }

  article:hover:before {
    opacity: 0;
  }


}

.tiles article:nth-child(4n - 1),
.tiles article:nth-child(4n - 2) {
  width: 60%;
}

.tiles article:nth-child(6n - 5)::before{
  background-color: #6fc3df;
}

.tiles article:nth-child(6n - 4)::before{
  background-color: #8d82c4;
}

.tiles article:nth-child(6n - 3)::before{
  background-color: #ec8d81;
}

.tiles article:nth-child(6n - 2)::before{
  background-color: #e7b788;
}

.tiles article:nth-child(6n - 1)::before{
  background-color: #8ea9e8;
}

.tiles article:nth-child(6n)::before{
  background-color: #87c5a4;
}

#about-me {
  padding-top: 5rem;
  padding-bottom: 5rem;

  .wrapper {
    display: table;
    @include size();
  }

  .content {
    display: table-cell;;
    width: 70%;
    text-align: justify;

    p {
      opacity: 0.95;
    }
  }

  .link {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    a {
      position: absolute;
      right: 0;
      padding: 1rem;
      border: 1px solid white;
    }

    a:hover {
      border-color: #9bf1ff;
    }
  }
}

main.page {
  padding-top: 7rem;

  h1 {
    margin-bottom: 0;
  }

  p {
    opacity: 0.9;
    text-align: justify;
  }

  .row {

    margin-bottom: 2rem;

    p {
      font-style: italic;
      font-weight: 200;
    }

    .area {
      text-align: left;
    }

    .date {
      text-align: right;
    }

  }

  .tech {
    display: block;
    margin-top: 2rem;
    font-style: italic;
    font-weight: 200;
  }

}
